@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Oxygen&display=swap%27');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

h2{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-family: 'Oxygen', sans-serif;
}

h4{
    font-family: 'Oxygen', sans-serif;
}

h5{
    font-family: 'Oxygen', sans-serif;
}

p{
    font-family: 'Nunito Sans', sans-serif;
}

* {
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: 0 auto;
}

.header{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#baner{
    width: 100%;
    height: 500px;
    background-image: url("GreenBasket.png");
    background-size: 100%;
    display: flex;
    border-radius: 15px;
}

.h-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}

.h-btn{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #1D1F21;
    font-size: 24px;
    padding: 20px 60px;
    margin-top: 10px;
    transition: all 0.2s;
    font-family: 'Oxygen', sans-serif;
}

.h-btn:hover{
    background-color: #31A444;
}

.h-btn-f{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.h-btn-r{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.m-wyprzedaż{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-panel{
    color: black;
    text-decoration: none;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
}

.product-panel:hover .pp-icon {
    display: block;
}

.product-panel:hover .pp-img {
    filter: blur(2px) saturate(145%);
    -webkit-filter: blur(2px) saturate(145%);
    -moz-filter: blur(2px) saturate(145%);
}

.pp-icon {
    font-size: 72px;
    position: absolute;
    bottom: 350px;
    left: 80px;
    width: 0px;
    height: 0px;
    color: #31A444;
    display: none;
    transition: all 0.2s;
}

.pp-procent{
    color: #F8F8F8;
    background-color: #31A444;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    bottom: 180px;
    left: 200px;
}

.pp-img{
    width: 250px;
    height: 300px;
    display: flex;
    background-color: #f2f2f2;
    padding: 20px 15px;
    border-radius: 15px;
    transition: all 0.2s;
}

.pp-price-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.pp-price{
    color: #0c0c0e;
}

.pp-price-pre{
    color: #b7babd;
    text-decoration: line-through;
    font-size: 13px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.nb-top {
    display: flex;
    justify-content: space-between;
}

.navbar-local {
    display: flex;
    flex-direction: row;
    font-family: 'Oxygen', sans-serif;
    gap: 20px;
    width: 290px;
    font-weight: 600;
    justify-content: start;
}

.nb-l-f1 {
    color: #1d1f21;
}

.nb-l-f2 {
    color: #1d1f2183;
}

.navbar-btns-container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

.link-1 {
    text-decoration: none;
    color: #1D1F21;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    transition: all 0.2s;
}

.link-1:hover {
    color: #31A444;
}

.nb-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.nb-b-logo {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    transition: all 0.2s;
}

.nb-b-logo:hover .nb-b-l-1{
    color: #31A444;
}

.nb-b-logo:hover .nb-b-l-2{
    color: #1D1F21;
}

.nb-b-l-2 {
    color: #31A444;
    transition: all 0.5s;
}

.nb-b-l-1 {
    color: #1D1F21;
    transition: all 0.5s;
}

.link-2 {
    background-color: #1D1F21;
    color: #F8F8F8;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    transition: all 0.2s;
}

.link-2:hover {
    background-color: #31A444;
}

.link-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
    color: #1D1F21;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    transition: all 0.2s;
}

.link-3 i {
    font-size: 20px;
}

.link-3:hover {
    color: #31A444;
}

.searchbar {
    padding: 10px 15px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #f2f2f2;
    color: #000000;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.0);
    text-shadow: 0px 0px 5px rgba(66,66,66,.0);
    width: 700px;
}

.searchbar:focus {
    outline:none;
    
}

.searchbar::placeholder {
    color: #acacac;
}

.nb-b-s-icon {
    position: relative;
    right: 32px;
    color: #acacac;
}

.special-event{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.s-e1{
    width: 50%;
    height: 600px;
    background-image: url(https://www.crazyshop.pl/zasoby/images/middle/torba-lniana-z-haftem-oryginalny-eco-prezent_66764.jpg);
    background-size: cover;
    border-radius: 15px;
}

.s-e2{
    width: 50%;
    height: 600px;
    background-image: url(https://i.etsystatic.com/10904029/r/il/14ab01/3826399689/il_570xN.3826399689_m5b7.jpg);
    background-size: cover;
    border-radius: 15px;
}

.m-eco-friendly {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    background-color: #1D1F21;
    color: #f2f2f2;
    padding: 10px 100px;
    border-radius: 25px;
    margin-top: 100px;
}

.m-eco-friendly .link-5 {
    border-color: #31A444;
}

.m-eco-friendly h1 {
    font-size: 32px;
}



.sponsors {
    margin: 100px 0px;
}

.sponsors hr {
    height: 2px;
    background-color: #d7d8d8;
    border-radius: 5px;
    border-style: none;
}

.sponsors-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.sponsors-panel:hover {
    transform: scale(110%);
}

.sponsors-panel img {
    width: 200px;
    height: 200px;
}

.m-nowości{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: #1D1F21;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.in-f{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    color: white;
}

.in-f a{
    text-decoration: none;
    color: white;
}

.in-f a:hover {
    text-decoration: underline;
}

.main-store h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.ms-container {
    display: flex;
    gap: 20px;
}

.ms-c-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 50px;
}

.ms-c-t-af {
    display: flex;
    gap: 5px;
}

.activated-filter {
    color: #F8F8F8;
    background-color: #131414;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'Nunito Sans', sans-serif;
}

.m-product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.m-p-left{
    width: 10%;
    height: 150px;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.m-p-l-image{
    width: 100%;
    height: 100px;
}

.m-p-l-image img{
    height: 160px;
    width: 100%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #31A444;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 3rem;
    height: 3rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked + svg,
  .rating label:has(input:checked) ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  


.m-c-rozmiar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
    
}

.link-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #1D1F21;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.2s;
    font-family: 'Oxygen', sans-serif;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.link-5 h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.link-5:hover{
    background-color: #31A444;
}

.link-5:hover h4{
    transform: scale(110%);
}

.link-5:focus{
    background-color: #31A444;
}


.m-c-k{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #1D1F21;
    font-size: 16px;
    padding: 5px 60px;
    margin-top: 10px;
    transition: all 0.2s;
    font-family: 'Oxygen', sans-serif;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.m-c-k:hover{
    background-color: #31A444;
}

.m-c-k:hover h4{
    transform: scale(110%);
}

.m-c-k a{
    color: white;
    text-decoration: none;
}
.nb-left img{
    width: 150px;
    height: 150px;
    box-shadow: 0 0 5px #acacac;
    padding: 5px;
}
.nb-left{
    width: 65%;
    height: 160px;
    background-color: #d7d8d8;
    float: left;
    box-shadow: 0 0 5px #acacac;
    flex-wrap: wrap;
}
.nb-left textarea{
    width: 60px;
    height: 15px;
    text-decoration: none;
    border: white;
    float: right;
}
.nb-left address{
    display: flex;
}
.nb-left i{
    display: flex;
    float: right;
}
.nb-left i:hover{
color: #31A444;
}
.nb-right{
    width: 30%;
    height: 280px;
    background-color: #d7d8d8;
    float: right;
    box-shadow: 0 0 5px #acacac;
    display: inline;
    margin: auto;
    float: right;
    flex-wrap: wrap;
    padding: 30px;
}
.nb-right textarea{
    float: left;
    background-color: white;
    color: #000000;
}
.nb-right button{
    width: 270px;
    height: 40px;
    color: white;
    text-size-adjust: medium;
    background-color: #1d1f21;
    text-align: center;
    display: inline;
    float: left;
    margin: 30px;
}
.nb-right button:hover{
    width: 270px;
    height: 40px;
    color: black;
    text-size-adjust: medium;
    background-color: #31A444;
    text-align: center;
    display: inline;
    margin: 10px;
}

