@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Oxygen&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
body{
    width: 80%;
    margin: 0 auto;
}

#header{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#baner{
    width: 100%;
    height: 80%;
    background-image: url("GreenBasket.png");
    background-size: cover;
    display: flex;
    
}

.h-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-decoration: none;
}